[submodule "deploy/server"]
	path = deploy/server
	url = https://github.com/viur-framework/server.git
[submodule "vi"]
	path = vi
	url = https://github.com/viur-framework/vi.git
[submodule "sources/less/ignite"]
	path = sources/less/ignite
	url = https://github.com/viur-framework/ignite.git
[submodule "deploy/viur/vi"]
	path = deploy/viur/vi
	url = https://github.com/viur-framework/viur-vi.git
[submodule "sources/vi"]
	path = sources/vi
	url = https://github.com/viur-framework/viur-vi-styling.git
