[submodule "deploy/server"]
	path = deploy/server
	url = https://github.com/viur-framework/server.git
[submodule "vi"]
	path = vi
	url = https://github.com/viur-framework/vi.git
[submodule "ignite"]
	path = ignite
	url = https://github.com/viur-framework/ignite.git
