[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
app-server = "==0.7.0"
google-auth = "==2.0.2"
cachetools = "==4.2.2"
six = "==1.16.0"
pyasn1-modules = "==0.2.8"
rsa = "==4.7.2"
pyasn1 = "==0.4.8"
google-cloud-datastore = "==2.1.6"
proto-plus = "==1.19.0"
google-cloud-core = "==2.0.0"
google-api-core = "==2.0.1"
pytz = "==2021.1"
tzlocal = "==2.1"
googleapis-common-protos = "==1.53.0"
protobuf = "==3.17.3"
requests = "==2.26.0"
libcst = "==0.3.20"
google-resumable-media = "==2.0.2"
typing-inspect = "==0.7.1"
typing-extensions = "==3.10.0.2"
pyparsing = "==2.4.7"
idna = "==2.10"
certifi = "==2021.5.30"
chardet = "==4.0.0"
urllib3 = "==1.26.6"
mypy-extensions = "==0.4.3"
google-cloud-logging = "==2.6.0"
google-cloud-storage = "==1.42.1"
google-cloud-tasks = "==2.5.1"
grpc-google-iam-v1 = "==0.12.3"
google-crc32c = "==1.1.2"
cffi = "==1.14.6"
pycparser = "==2.20"
google-cloud-iam = "==2.3.1"
grpcio = "==1.40.0"
gunicorn = "==20.1.0"
charset-normalizer = "==2.0.4"
google-cloud-audit-log = "==0.1.1"
google-cloud-appengine-logging = "==0.1.4"
PyYAML = "==5.4.1"
Jinja2 = "==3.0.1"
MarkupSafe = "==2.0.1"
Pillow = "==8.3.2"
WebOb = "==1.8.7"

[dev-packages]

[requires]
python_version = "3.9"
