[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

#[[source]]
#url = "https://test.pypi.org/simple/"
#verify_ssl = true
#name = "testpypi"

[packages]
viur-core = "*"

[dev-packages]
viur-cli = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
