# This is a place to define additional library requirements needed to run the project.

#GoogleAppEngineCloudStorageClient
#google-api-python-client
#requests==2.1.0
#requests_toolbelt==0.7.1

jinja2
webob
google-cloud-firestore
google-cloud-datastore
google-cloud-redis
google-cloud-logging==1.11.0
google-cloud-storage
google-cloud-tasks
google-auth
pillow
