{% extends "viur_base.html" %}

{% block content %}
	<h1 class="headline">Reset Password</h1>

	<p>Please enter your email.</p>

	{% for err in skel.errors %}
		{% if skel.errors[err] %}
			<div class="msg msg--error is-active">
				<div class="msg-content">
					<p>{{ skel.errors[err] }}</p>
				</div>
			</div>
		{% endif %}
	{% endfor %}

	<form class="login-form" method="POST" action="/user/auth_userpassword/pwrecover">
		{{ renderEditForm(skel) }}
		<input class="btn btn--primary" name="submit" type="submit" value="Reset password">
	</form>

	<a href="/user/auth_userpassword/login">Login</a>
{% endblock %}
