{% extends "viur_base.html" %}

{% block content %}
	<h1 class="headline">Login</h1>

	<form method="POST" action="/user/auth_userpassword/login">
		<input name="skey" type="hidden" value="{{ getSecurityKey() }}">

		<div class="inputGroup">
			<label class="label js-focus" for="name">E-Mail</label>
			<input class="input" id="name" name="name" type="text" placeholder="E-Mail">
		</div>

		<div class="inputGroup">
			<label class="label" for="password">Password</label>
			<input class="input" id="password" name="password" type="password" placeholder="Passwort">
		</div>

		<div class="formActions">
			<input class="btn btn-vPrimary f-left" name="submit" type="submit" value="Login">
		</div>
	</form>

	<a href="/user/auth_userpassword/pwrecover">Reset your Password</a>
{% endblock %}
