{% extends "viur_base.html" %}

{% block content %}
	<h1 class="headline">Reset Password</h1>
	<p>Please enter user username and a new password</p>

	<form method="POST" action="/user/auth_userpassword/pwrecover">
		<input name="skey" type="hidden" value="{{ getSecurityKey() }}">

		<div class="inputGroup">
			<label class="label" for="name">E-Mail</label>
			<input class="input js-focus" id="name" name="name" type="text" placeholder="E-Mail">
		</div>

		<div class="inputGroup">
			<label class="label" for="password">new Password</label>
			<input class="input" id="password" name="password" type="password" placeholder="new Password">
		</div>

		<div class="formActions">
			<input class="btn btn-vPrimary f-left" name="submit" type="submit" value="Reset Password">
		</div>
	</form>
{% endblock %}
