{% extends "viur_base.html" %}

{% block content %}
	<h1 class="headline">Reset Password</h1>
	<p>Please enter user username and a new password</p>

	{% for err in skel.errors %}
		{% if skel.errors[err] %}
			<div class="msg msg-vError has-icon i-cross">
				<h3 class="msg-headline">{{ err }}</h3>
				<p>{{ skel.errors[err] }}</p>
			</div>
		{% endif %}
	{% endfor %}

	<form method="POST" action="/user/auth_userpassword/pwrecover">
		<input name="skey" type="hidden" value="{{ getSecurityKey() }}">

		<div class="inputGroup">
			<label class="label {{ "is-invalid" if skel.errors["name"] }}" for="name">E-Mail</label>
			<input class="input js-focus {{ "is-invalid" if skel.errors["name"] }}"
			 id="name" name="name" type="text" placeholder="E-Mail">
		</div>

		<div class="inputGroup">
			<label class="label {{ "is-invalid" if skel.errors["password"] }}" for="password">new Password</label>
			<input class="input {{ "is-invalid" if skel.errors["password"] }}"
			 id="password" name="password" type="password" placeholder="new Password">
		</div>

		<div class="formActions">
			<input class="btn btn-vPrimary f-left" name="submit" type="submit" value="Reset Password">
		</div>
	</form>
{% endblock %}
