{#
	This is the default template to view a successfull add.

	If you would like to customize it for a specific module,

	- copy the template inside the html/ folder as `<Your-Module>_add_success.html`
	- add a line `addSuccessTemplate = "<Your-Module>_add_success"` inside your module class
#}

{% extends "viur_base.html" %}
{% from "macros/skelview.html" import SkelView %}

{% block content %}
	<h1 class="headline">{{ moduleName() }}: Entry {{ skel["key"] }} successfully created</h1>

	<div class="msg msg--success is-active">
		{{ embedSvg("icon-check") }}
		<div class="msg-content">
			<h3 class="msg-headline">Entry has been successfully created!</h3>
			<p>
				<a class="btn btn--primary" href="/{{ moduleName() }}/view/{{ skel["key"] }}">
					View entry
				</a>
			</p>
		</div>
	</div>

	{{ SkelView(skel) }}
{% endblock %}

