{% extends "viur_base.html" %}

{% block content %}
<section class="section">
	<h1 class="headline">Test</h1>

	<table class="table">
		<thead class="tableHead">
			<tr class="tableHead-row">
				<th class="tableHead-cell">Company</th>
				<th class="tableHead-cell">Contact</th>
				<th class="tableHead-cell">Country</th>
			</tr>
		</thead>
		<tbody class="tableBody">
			<tr class="tableBody-row">
				<td class="tableBody-cell" data-title="Company">Alfreds Futterkiste</td>
				<td class="tableBody-cell" data-title="Contact" scope="row">Maria Anders</td>
				<td class="tableBody-cell" data-title="Country">Germany</td>
			</tr>
			<tr class="tableBody-row">
				<td class="tableBody-cell" data-title="Company">Centro comercial Moctezuma</td>
				<td class="tableBody-cell" data-title="Contact" data-type=currency>Francisco Chang</td>
				<td class="tableBody-cell" data-title="Country">Mexico</td>
			</tr>
			<tr class="tableBody-row is-active">
				<td class="tableBody-cell" data-title="Company">Ernst Handel</td>
				<td class="tableBody-cell" data-title="Contact">Roland Mendel</td>
				<td class="tableBody-cell" data-title="Country">Austria</td>
			</tr>
		</tbody>
		<tfoot class="tableFoot">
			<tr class="tableFoot-row">
				<td class="tableFoot-cell" data-title="Company">Alfreds Futterkiste</td>
				<td class="tableFoot-cell" data-title="Contact">Maria Anders</td>
				<td class="tableFoot-cell" data-title="Country">Germany</td>
			</tr>
			<tr class="tableFoot-row">
				<td class="tableFoot-cell" data-title="Company">Centro comercial Moctezuma</td>
				<td class="tableFoot-cell" data-title="Contact">Francisco Chang</td>
				<td class="tableFoot-cell" data-title="Country">Mexico</td>
			</tr>
			<tr class="tableFoot-row">
				<td class="tableFoot-cell" data-title="Company">Ernst Handel</td>
				<td class="tableFoot-cell" data-title="Contact">Roland Mendel</td>
				<td class="tableFoot-cell" data-title="Country">Austria</td>
			</tr>
		</tfoot>
	</table>



</section>
{% endblock content %}
